body {
  background-image: url('./scattered-forcefields.svg');
  background-size: cover;
}


header {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.title{
  margin-top: 2.3rem;
}
h4{
  align-items: center;
  text-align: center;
  display:flex
}
.formCalcul {
  background-color: rgb(148, 218, 209);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 45rem;
  width: 40rem;
}
input[type="number"]{
  width: 6rem;
}
label {
  display: block;
  float: left;
  width: 5rem;
  margin-right: 1rem;
  color: rgb(18, 58, 65);
  font-weight: 400;
}

.sectionCalcul{
  display: flex;
  justify-content: space-around;
  /* height: 6rem; */
  width: 1em;
}


.formCalcul .sectionCalcul,
.form-field {
  margin: 30px;
  display: flex;
}


.form-container {
  display: flex;
  

}

.sectionCalcul {
  justify-content: center;
}

.result{
  display: flex;
  justify-content: space-around;
}