body {
  background-image: url('./scattered-forcefields.svg');
  background-size: cover;
}


header {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.title{
  margin-top: 2.3rem;
}
h4{
  align-items: center;
  text-align: center;
  display:flex
}
main {
  background-color: rgb(148, 218, 209);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 33rem;
}
input[type="number"]{
  width: auto;
}
label {
  display: block;
  text-align: center;
  width: 5rem;
  margin-right: 1rem;
  color: rgb(18, 58, 65);
  font-weight: 400;
}
.formCalcul{
  
}
.sectionCalcul{
  display: flex;
  justify-content: space-between;

}


.pricing, .qte,
.form-field {
  margin: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.fees{
  justify-content: flex-start;
  margin: 3rem;
}
.form-container {
  display: flex;
}



.validation, .result{
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}